USE [master]
GO
/****** Object:  Database [AFILIADOS_JUSTIN_MINAYA]    Script Date: 3/9/2022 6:18:39 PM ******/
CREATE DATABASE [AFILIADOS_JUSTIN_MINAYA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AFILIADOS_JUSTIN_MINAYA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AFILIADOS_JUSTIN_MINAYA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AFILIADOS_JUSTIN_MINAYA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AFILIADOS_JUSTIN_MINAYA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AFILIADOS_JUSTIN_MINAYA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AFILIADOS_JUSTIN_MINAYA]
GO
/****** Object:  Table [dbo].[Afiliados]    Script Date: 3/9/2022 6:18:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Afiliados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](70) NULL,
	[Apellidos] [varchar](70) NULL,
	[Fecha_Nacimiento] [date] NULL,
	[Sexo] [char](1) NULL,
	[Cedula] [varchar](14) NULL,
	[Numero_Seguridad_Social] [varchar](14) NULL,
	[Fecha_Registro] [date] NULL,
	[Monto_Consumido] [decimal](15, 0) NULL,
	[Id_Estatus] [int] NULL,
	[Id_Plan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estatus]    Script Date: 3/9/2022 6:18:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estatus](
	[Id] [int] NOT NULL,
	[Estatus] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planes]    Script Date: 3/9/2022 6:18:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](70) NULL,
	[Monto_Cobertura] [decimal](15, 0) NULL,
	[Fecha_Registro] [date] NULL,
	[Id_Estatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Estatus] ([Id], [Estatus]) VALUES (1, N'ACTIVO')
INSERT [dbo].[Estatus] ([Id], [Estatus]) VALUES (2, N'INACTIVO')
GO
ALTER TABLE [dbo].[Afiliados]  WITH CHECK ADD FOREIGN KEY([Id_Estatus])
REFERENCES [dbo].[Estatus] ([Id])
GO
ALTER TABLE [dbo].[Afiliados]  WITH CHECK ADD FOREIGN KEY([Id_Plan])
REFERENCES [dbo].[Planes] ([Id])
GO
ALTER TABLE [dbo].[Planes]  WITH CHECK ADD FOREIGN KEY([Id_Estatus])
REFERENCES [dbo].[Estatus] ([Id])
GO
USE [master]
GO
