@model List<Afiliados>


@{
    List<Planes> Planes = ViewData["Planes"] as List<Planes>;
    List<Estatus> Estatus = ViewData["Estatus"] as List<Estatus>;
}


<section class="pt-3">
    <header>
        <h1 class="text-center">
            Consulta Masiva Filtrar
        </h1>
    </header>


    @if (Model == null)
    {
        <form action="ConsultaMasivaAfiliados" method="post">
            <div class="mt-2">
                <label>Nombres</label>
                <input name="nombres" class="form-control" type="text" />
            </div>

            <div class="mt-2">
                <label>Apellidos</label>
                <input name="apellidos" class="form-control" type="text" /> <br />
            </div>

            <div class="mt-2 mb-3">
                <label>Cedula</label>
                <input name="cedula" class="form-control" type="text" />
            </div>

            <button class="d-block m-auto btn btn-success w-50" type="submit">
                Filtrar
            </button>
        </form>
    }
    else if (Model.Count > 0)
    {
        <partial name="~/Views/Shared/_AfiliadosTabla.cshtml" model="@Model" view-data="ViewData" />
    }
    else
    {
        <h2 class="text-center p-5">¡No coincidencias encontradas!</h2>

    }

    @if (Model != null || Model?.Count > 0)
    {
        <h3 class="text-center mt-2">
            <a href="~/Afiliados/ConsultaMasivaAfiliados" class="text-white btn-success p-1">
                Hacer una nueva busqueda
            </a>
        </h3>
    }
</section>


