@model List<Afiliados>


@{
    List<Planes> Planes = ViewData["Planes"] as List<Planes>;
    List<Estatus> Estatus = ViewData["Estatus"] as List<Estatus>;
}


<section>
    <header>
        <h1 class="text-center">Mantenimiento Afiliados</h1>

        <div class="d-flex flex-column align-items-end">
            <a class="nav-link btn btn-primary text-white w-25" asp-area="" asp-controller="Afiliados" asp-action="CrearAfiliado">
                Crear Afiliado
            </a>
            <a class="nav-link btn btn-primary text-white w-25 mt-2" asp-area="" asp-controller="Afiliados" asp-action="ActualizarMontoConsumido">
                Actualizar Monto
            </a>
            <a class="nav-link btn btn-primary text-white w-25 mt-2" asp-area="" asp-controller="Afiliados" asp-action="ConsultaMasivaAfiliados">
                Consulta Masiva
            </a>
        </div>
    </header>

    <partial name="~/Views/Shared/_AfiliadosTabla.cshtml" model="@Model" view-data="ViewData" />
</section>






