@model Planes

@{
    ViewData["Title"] = "CrearPlan";
}

@{
    List<Estatus> Estatus = ViewData["Estatus"] as List<Estatus>;
}


<section>
    <header>
        <h1 class="text-center">¡Crea un nuevo Plan!</h1>
    </header>

    <form action="CrearPlan" method="post">
        <div class="mt-2">
            <label asp-for="Nombre">Nombre:</label>
            <input type="text" class="form-control" asp-for="Nombre" required>
        </div>

        <div class="mt-2">
            <label asp-for="Monto_Cobertura">Monto de cobertura:</label>
            <input type="text" class="form-control" asp-for="Monto_Cobertura" required>
        </div>
      
        <br />

        <div class="mt-2">
            <label asp-for="Id_Estatus">Estatus:</label>
            <select asp-for="Id_Estatus" class="form-select w-25" required>
                @foreach (Estatus estatus in Estatus)
                {
                    <option selected value="@estatus.Id">@estatus.Estatus_Nombre</option>
                }
            </select>
        </div>
        <br />

        <button class="d-block m-auto btn btn-success w-50 mt-1" type="submit">
            Crear Plan
        </button>
    </form>

</section>

