@model List<Afiliados>

@{
    ViewData["Title"] = "VerDetallePlan";
}

@{
    List<Planes> Planes = ViewData["Planes"] as List<Planes>;
    List<Estatus> Estatus = ViewData["Estatus"] as List<Estatus>;
}

<section class="pt-5">
    <header>
        <h1 class="text-center">
            Afiliados con plan : <span class="bg-primary font-weight-bold text-white p-2">@ViewBag.PlanNombre</span>
        </h1>
    </header>

    @if (Model.Count > 0)
    {
        <partial name="~/Views/Shared/_AfiliadosTabla.cshtml" model="@Model" view-data="ViewData" />
    }
    else
    {
        <h2 class="text-center p-5">¡No hay afiliados aun con ese plan!</h2>
    }
</section>